<div class="container">
  <div class="title">
    <h2>Account Login</h2>
  </div>

  <form action="/" method="POST">
    <div class="row">
      <label for="inputemail">Email</label>
      <div class="col">
        <input type="text" name="email" placeholder="Input email here." required>
      </div>
    </div>

    <div class="row">
      <label for="inputpassword">Password</label>
      <div class="col">
        <input type="text" name="password" placeholder="Input password here." required>
      </div>
    </div>

    <div class="signbtn">
      <button class="signin" type="submit" id="signbtn">Sign in</button>
    </div>
  </form>
</div>